.historyIMCItem{
  background-color:rgb(203, 204, 204);
  border: 1px solid #000;
  padding: 5px;
  border-radius: 2px;
  margin-top: 5px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  span {
    text-decoration: dashed;
    color: rgb(36, 35, 35);
    padding: 4px;
  }
  span:not(:last-child){

    border-right: 1px solid #000;
  }
}

.goodImc{
  background-color: rgb(90, 224, 108);
}


.badImc{
  background-color: rgb(236, 73, 73);
}
